<div class="fondo">
  <div class="title">
    <img class="logo-login" src="../../../assets/img/logo.png" alt="" srcset="" />
    <h3><b>¡Bienvenido a Repuestos Gastón!</b></h3>
    <h6 class="card-subtitle mb-2 mt-2 text-muted"><b>Por favor, elige una opción para continuar.</b></h6>
  </div>
  <div class="cards">
    <div class="div-ventas" placement="top"
      ngbTooltip="Ingresa para visualizar la página de ventas como la ven los clientes">
      <a href="/" class="card-link">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img class="imgSection" src="../../../assets/svg/productsAdmin.svg" alt="" srcset="" />
            <h5 class="card-title"><b>Sistema de ventas</b></h5>
          </div>
        </div>
      </a>
    </div>
    <div class="div-gestion" placement="top"
      ngbTooltip="Ingresa para gestionar productos, categorías y otras funcionalidades">
      <a href="/admin/dashboard/home" class="card-link">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img class="imgSection" src="../../../assets/svg/saleAdmin.svg" alt="" srcset="" />
            <h5 class="card-title"><b>Sistema de gestión</b></h5>

          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="mobile">
  <div class="text">
    <h1>Oops,</h1>
    <h4>Parece que esta vista no esta disponible en este momento.</h4>
  </div>

  <img src="../assets/svg/alert.svg" alt="" srcset="">
</div>