<div class="contenedor">
  <div class="productos">
    <div class="card card-productos">
        <div class="card-body">
            <div class="agregarProducto">
                <h3 class="card-title"><b>Tabla de productos</b></h3>
                <form action="" [formGroup]="searchForm">
                  <div class="search" >
                    <input type="search" class="buscador form-control" (keydown.enter)="search()" formControlName="search" placeholder="Filtrar por nombre" name="">
                    <button type="button" class="btn lupa" (click)="search()">
                      <img src="../../../assets/svg/search.svg" alt="" srcset="">
                    </button>
                  </div>
                </form>
                <button type="button" class="btn btn-dark" (click)="agregar()"
                placement="start" ngbTooltip="Agregar producto">
                  <img src="../../../assets/svg/plusWhite.svg" alt="" srcset="">
                </button>
            </div>
            <div class="table-container">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col" class="colMenu"></th>
                        <th scope="col" class="imagenTabla">Imágen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let producto of this.productAdmin.data; let index = index">
                     
                        <td scope="row" class="colMenu">
                          <div ngbDropdown class="d-inline-block dropdownMenu" >
                            <button class="btn" id="dropdown1" ngbDropdownToggle>
                              <img class="imgSection" src="../../../../assets/svg/menuAdmin.svg" alt="" srcset="" />
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdown1">
                                <button ngbDropdownItem class="btn" (click)="verProducto(producto.product_id)">Ver más</button>
                                <hr>
                                <button ngbDropdownItem class="btn" (click)="editarProducto(producto.product_id)">Editar</button>
                                <hr>
                                <button ngbDropdownItem class="btn" (click)="eliminarProducto(producto)">Eliminar</button>
                              </div>
                          </div>
                        </td>
                        <td class="imagenTabla">
                          <img class="imagen" [src]="mostrarImg(producto.image)" alt="Imagen del producto" *ngIf="producto.image" />
                        </td>
                        <td>{{producto.name}}</td>
                        <td>${{producto.price}}</td>
                       <td>{{producto.stock}} un.</td>
                      </tr>
                      <tr *ngIf="!(this.productAdmin.data && this.productAdmin.data.length > 0)">
                        <td colspan="5" class="not-found">
                          No hay productos para mostrar
                        </td>
                      </tr>
                    </tbody>
                  </table>  
                </div>  
            </div>
        </div>
        <div class="pagination">
          <ngb-pagination (pageChange)="pageChange($event)" [collectionSize]="this.productAdmin?.totalElements" [page]="this.productAdmin?.pegeable?.pageNumber" [pageSize]="this.productAdmin?.pegeable?.pageSize" aria-label="Default pagination"></ngb-pagination>
        </div>
</div>
</div>
