<div class="contenedor">
  <div class="productos">
    <div class="card card-productos">
        <div class="card-body">
            <div class="agregarProducto">
                <h3 class="card-title"><b>Tabla de productos</b></h3>
                <form action="" [formGroup]="searchForm">
                  <div class="search" >
                    <input type="search" class="buscador form-control" (keydown.enter)="search()" formControlName="search" placeholder="Busca productos" name="">
                    <button type="button" class="btn lupa" (click)="search()">
                      <img src="../../../assets/svg/search.svg" alt="" srcset="">
                    </button>
                  </div>
                </form>
                
            </div>
            <div class="table-container">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="imagenTabla">Imágen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr *ngFor="let producto of productos; let index = index">
                        <td scope="row"><input type="radio" (change)="mostrarData(producto)" name="radioButton" [value]="producto"/></td>
                        <td class="imagenTabla">
                          <img class="imagen" [src]="producto.imageUrl" alt="Imagen del producto" *ngIf="producto.imageUrl" />
                        </td>
                        <td>{{producto.name}}</td>
                        <td>${{producto.price}}</td>
                        <td>{{producto.stock}} un.</td>
                      </tr>
                    </tbody>
                  </table>  
                </div>  
            </div>
        </div>
        <div class="pagination">
          <ngb-pagination [collectionSize]="productos.length" [(page)]="page" [pageSize]="10" aria-label="Default pagination"></ngb-pagination>
        </div>
</div>
<div class="form-productos">
<app-product></app-product>
</div>
</div>
