<div class="sidebar container">
    <div class="navbar-brand">
        <a  href="admin"
      ><img class="logo" src="../../../assets/img/logo.png" alt="" srcset=""
    /></a>
    </div>
    <hr>
    <a href="admin">
<div class="section">
    
    <img class="imgSection" src="../../../assets/svg/home.svg" alt="" srcset=""
    />
    <h5>Home</h5>
</div></a>
<hr>
<a href="admin/productos">
<div class="section">
    <img class="imgSection" src="../../../assets/svg/products.svg" alt="" srcset=""
    />
    <h5>Productos</h5>
</div></a>
<hr>
<a href="admin/ventas">
    <div class="section">
        <img class="imgSection" src="../../../assets/svg/sale.svg" alt="" srcset=""
        />
        <h5>Ventas</h5>
    </div></a>
    <hr>
<a href="admin/usuarios">
<div class="section">
    <img class="imgSection" src="../../../assets/svg/users.svg" alt="" srcset=""
    />
    <h5>Usuarios</h5>
</div></a>
<hr>
<div class="section">
    <img class="imgSection" src="../../../assets/svg/logout.svg" alt="" srcset=""
    />
    <h5>Cerrar sesión</h5>
</div>
<hr>
</div>