*{
    margin: 0;
    padding: 0;
}
.sidebar{
    border: 1px solid linear-gradient(#ff5b36a4, #ffa601);
    /* width: 20vw; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100vh;
    background: linear-gradient(#ff5b36a4, #ffa601);

}
.navbar-brand{
    width: 15vw;
    height: 20vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 15vw;
    height: 10vh;
}
.section{
    height: 10vh;
    display: flex;
    align-items: center;
}
.section:hover{
    cursor: pointer;
    background: #ff5b366e;
}
.imgSection{
    padding-left: 10px;
    padding-right: 10px;
}
a{
    text-decoration: none;
}
.section h5{
    color: black;
}
.btn-products{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.section-hijo{
   background:#cfc9c888;
   padding-left: 10px;
}
.section-hijo:hover{
    background:#ff5b366e;
 }

.menuButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 15px;
}
.menuButton:hover{
    cursor: pointer;
    background: #ff5b366e;
    border-radius: 50%;
}
.containerButton{
    display: flex;
    justify-content: end;
}