.tablaProductos{
  margin-top: 20px;
}
.cards{
  display: flex;
  justify-content: space-around;
}
.imgCards{
  background: #eb7b61;
  display: flex;
  align-items: center;
}
.card{
  border-radius: 15px;
  cursor: pointer;
}
a{
  text-decoration: none;
}
h3{
  color: black;
  font-weight: 600;
  font-size: 20px;
}
p{
  color: black;
  font-size: 16px;
}
