<div class="tablaProductos">
  <div class="cards">
    <div class="card mb-3" style="max-width: 340px;" data-toggle="tooltip" data-placement="bottom" title="Ir a tabla usuarios">
      <a href="admin/usuarios">
      <div class="row no-gutters">
        <div class="col-md-4 imgCards">
          <img src="../../../../assets/svg/userPlus.svg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Usuarios registrados</h5>
            <p class="card-text">1000</p>
          </div>
        </div>
      </div></a>
    </div>
    <div class="card mb-3" style="max-width: 340px;" data-toggle="tooltip" data-placement="bottom" title="Ir a tabla productos">
      <a href="admin/productos">
      <div class="row no-gutters">
        <div class="col-md-4 imgCards">
          <img src="../../../../assets/svg/productsWhite.svg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Productos registrados</h5>
            <p class="card-text">100</p>
          </div>
        </div>
      </div></a>
    </div>
    <div class="card mb-3 bajoStock" style="max-width: 340px;" data-toggle="tooltip" data-placement="bottom" title="Ir a tabla productos">
      <a href="admin/productos">
      <div class="row no-gutters">
        <div class="col-md-4 imgCards">
          <img src="../../../../assets/svg/stock.svg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Productos con bajo stock</h5>
            <p class="card-text">10</p>
          </div>
        </div>
      </div></a>
    </div>
  </div>
  
</div>