<div class="contenedor">
    <div class="productos">
        <div class="card card-tabla">
            <div class="card-body">
                <div class="carritoProducts">
                    <div class="titleButtonsSubtitle">
                        <div class="title">
                            <h3 class="card-title"><b>Orden cancelada</b></h3>
                        </div>
                    </div>
    
                    <div class="titleButtons">
                        <div class="title">
                            <h4><b>Parece que cancelaste tu compra</b></h4>
                            <h3 class="card-title-numberSale">No te preocupes, los productos continuan en tu carrito para que finalices la compra</h3>
                        </div>
                    </div>
                </div>
                <div class="formButtons">
                    <button class="btn btn-dark btn-login" (click)="home()">
                        Seguir viendo productos</button>
                </div> 
                
            </div>
        </div>
    </div>