<div class="carrito">
  <div class="product">
    <div class="card">
      <div class="card-header">
       <h5> <b>Productos</b></h5>
      </div>
      <div class="row card-body" *ngFor="let product of listProducts">
        <div class="divImg">
          <img
            src="{{product.img}}"
            class="card-img"
            alt={{product.name}}
          />
        </div>
        <div class="divDescription">
          <div class="card-body">
            <h6 class="card-title"><b>{{product.name}}</b></h6>
          </div>
        </div>
        <div class="divActions">
          <div class="cantidadForm">
            <div class="divSumCantidad">
              <form action="" [formGroup]="carritoForm">
                <div class="minusPlus">
                  <button class="btn" (click)="resta()" [disabled]="restaDisabled">
                    <img src="./assets/svg/minus.svg" alt="Menos" srcset="" />
                  </button>
                  <input
                    type="number"
                    class="cantidad"
                    formControlName="cantidad"
                    [value]="carritoForm.get('cantidad')!.value"
                  />
                  
                  <button class="btn" (click)="suma()" [disabled]="sumaDisabled">
                    <img src="./assets/svg/plus.svg" alt="Menos" srcset="" />
                  </button>
                </div>

                <div class="stock">
                  <p class="card-text">
                    <small class="text-muted">{{product.stock}} stock disponibles</small>
                  </p>
                </div>
                
              </form>
              <div class="texts" *ngIf="carritoForm.controls['cantidad'].errors && carritoForm.get('cantidad')?.touched">
                <div class="validatorText" *ngIf="carritoForm.get('cantidad')?.hasError('required')">
                    <span>Este campo es requerido</span>
                </div>
                </div>
            </div>
          </div>
        </div>
        <div class="card-body-price">
          <h3 class="card-title">${{carritoForm.get('subtotal')!.value}}</h3>
        </div>
      </div>
    </div>
    <hr />
  </div>
  
  <div class="productTotal">
    <div class="card">
      <div class="row monto">
        <div class="totalTitle">
          <h4 class="card-title"><b>Total</b></h4>
        </div>
        <div class="totalMonto">
          <h4 class="card-title"><b>${{carritoForm.get('total')!.value}}</b></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="finalizar">
    <!-- <button class="success" [disabled]="carritoForm.invalid">
      Continuar compra
    </button> -->
    <button class="btn btn-primary btn-finalizarCompra" [disabled]="carritoForm.invalid">
      <p>Continuar compra</p>      
    </button>
  </div>
</div>
