*{
    background: #ebebeb;
}
.carousel{
    height: 60vh;
    width: 100%;
}
.carousel img{
    height: 60vh;
    width: 100%;
}

.formasPago{
    display: flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 5px;
    background: white;
}
.formasPago .card{
    flex-direction: row;
    align-items: center;
    border: none;
    background: white;
    height: 15vh;
    width: 20vw;
}
.formasPago .card-img{
    background: white;

}
.formasPago .card-body{
    background: white;
    
}
.formasPago .card-text{
    background: white;
}
.productos{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3,20%);
    /* grid-template-rows: 40%; */
    grid-row-gap: 5%;
    justify-items: center;
    align-items: center;
    /* min-height: 100vh; */
}
.productos .card{
    border: none;
    transition: transform 0.3s ease;
    /* margin-bottom: 20px; */
}
.productos .card:hover{
    cursor: pointer;
    transform: scale(1.06);
}
.productos .card-img-top{
    background: white;
}
.productos .card-body{
    border-top: 1px solid lightgray;
    background: white;
}
.productos .card-title{
    font-weight: 600;
    font-size: 20px;
    background: white;
}
.productos .card-subtitle{
    background: white;
}
.productos .card-text{
    font-weight: 600;
    font-size: 20px;
    background: white;
}
.card a{
    text-decoration: none;
    color: black;
}
p{
    font-size: 16px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 14px;
}