<!-- <body> -->
  
<ngb-carousel class="carouselDesktop">
  <ng-template *ngFor="let img of carousel" ngbSlide class="carousel-desktop">
    <div class="picsum-img-wrapper">
      <img src="{{ img }}" alt="Random first slide" />
    </div>
  </ng-template>
</ngb-carousel>
<ngb-carousel class="carouselMobile">
  <ng-template *ngFor="let img of carouselMobile" ngbSlide class="carousel-mobile">
    <div class="picsum-img-wrapper">
      <img src="{{ img }}" alt="Random first slide" />
    </div>
  </ng-template>
</ngb-carousel>
<div class="formasPago">
  <div class="card">
    <div class="col-md-2">
      <img
        src="../../../../assets/svg/credit-card.svg"
        class="card-img"
        alt="tarjeta de credito"
      />
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <p class="card-text">Tarjetas de crédito</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="col-md-2">
      <img
        src="../../../../assets/svg/card.svg"
        class="card-img"
        alt="tarjeta de credito"
      />
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <p class="card-text">Tarjetas de débito</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="col-md-2">
      <img
        src="../../../../assets/svg/cash.svg"
        class="card-img"
        alt="tarjeta de credito"
      />
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <p class="card-text">Efectivo</p>
      </div>
    </div>
  </div>
</div>

<div class="productos" *ngIf="this.products?.data?.length > 0">
  <div class="card" *ngFor="let producto of this.products.data" style="width: 18rem">
    <div (click)="verProducto(producto.product_id)">
      <img [src]="mostrarImg(producto.image)" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ producto.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ producto.description }}</h6>
        <p class="card-text">$ {{ producto.price }}</p>
      </div>
   </div>
  </div>
  <div class="pagination">
  <ngb-pagination (pageChange)="pageChange($event)" [collectionSize]="this.products?.totalElements" [page]="this.products.pageable.pageNumber + 1" [pageSize]="this.products?.pageable?.pageSize" aria-label="Default pagination"></ngb-pagination>
</div>
</div>
<div class="card" *ngIf="this.products?.data?.length == 0">
  <h4 class="not-found">
    No hay productos para mostrar
  </h4>
</div>
