<div class="profile">
  <div class="card mb-3" style="max-width: 840px">
    <div class="row no-gutters">
      <div class="col-md-3 photoProfile">
        <img
          src="./assets/svg/userProfile.svg"
          class="card-img"
          alt="foto de perfil"
        />
      </div>
      <div class="col-md-8 card-text">
        <div class="card-body">
          <h5 class="card-title">{{this.user.data.name+' '+this.user.data.surname}}
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="title">
    <h5>Datos personales</h5>
    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Editar datos personales">
      <img src="../../../../assets/svg/edit.svg" (click)="editarUser(this.user.data)" alt="" srcset="">
  </button>
  </div>
  <div
    class="card mb-3 desktop"
    style="max-width: 840px"
  >
    <div class="row no-gutters row-line">
      <div class="col-md-3 card-text-title">
        <p class="card-text">Usuario</p>
      </div>
      <div class="col-md-8 card-text">
        <div class="card-body">
          <p class="card-text">{{ this.user.data.username }}</p>
        </div>
      </div>
    </div>
    <div class="row no-gutters row-line">
      <div class="col-md-3 card-text-title">
        <p class="card-text">E-mail</p>
      </div>
      <div class="col-md-8 card-text">
        <div class="card-body">
          <p class="card-text">{{ this.user.data.email }}</p>
        </div>
      </div>
    </div>
    <div class="row no-gutters row-line">
      <div class="col-md-3 card-text-title">
        <p class="card-text">Contraseña</p>
      </div>
      <div class="col-md-8 card-text">
        <div class="card-body">
          <p class="card-text">{{ this.user.data.password }}</p>
          <p class="card-text" *ngIf="this.user.data.password == null"></p>
        </div>
      </div>
    </div>
    <div class="row no-gutters row-line">
      <div class="col-md-3 card-text-title">
        <p class="card-text">Documento</p>
      </div>
      <div class="col-md-8 card-text">
        <div class="card-body">
          <p class="card-text">{{ this.user.data.dni }}</p>
          <p class="card-text" *ngIf="this.user.data.dni == null"></p>
        </div>
      </div>
    </div>
   <div class="row no-gutters row-line">
      <div class="col-md-3 card-text-title">
        <p class="card-text">Fecha de nacimiento</p>
      </div>
      <div class="col-md-8 card-text">
        <div class="card-body">
          <p class="card-text">{{ this.user.data.birthdate }}</p>
          <p class="card-text" *ngIf="this.user.data.birthdate == null"></p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="card mb-3 mobile"
    style="max-width: 840px"
  >
    <div>
      <div class="col-md-3 card-text-title">
        <p class="card-text">Usuario</p>
      </div>
      <div class="col-md-8 card-text">
        <div class="card-body">
          <p class="card-text">{{ this.user.data.username }}</p>
        </div>
      </div>
    </div>
    <div>
      <div class="col-md-3 card-text-title">
        <p class="card-text">E-mail</p>
      </div>
      <div class="col-md-8 card-text">
        <div class="card-body">
          <p class="card-text">{{ this.user.data.email }}</p>
        </div>
      </div>
    </div>
    <div>
      <div class="col-md-3 card-text-title">
        <p class="card-text">Contraseña</p>
      </div>
      <div class="col-md-8 card-text">
        <div class="card-body">
          <p class="card-text">{{ this.user.data.password }}</p>
        </div>
      </div>
    </div>
    <div>
      <div class="col-md-3 card-text-title">
        <p class="card-text">Documento</p>
      </div>
      <div class="col-md-8 card-text">
        <div class="card-body">
          <p class="card-text">{{ this.user.data.dni }}</p>
          <p class="card-text" *ngIf="this.user.data.dni == null"></p>
        </div>
      </div>
    </div>
    <div>
      <div class="col-md-3 card-text-title">
        <p class="card-text">Fecha de nacimiento</p>
      </div>
      <div class="col-md-8 card-text">
        <div class="card-body">
          <p class="card-text">{{ this.user.data.birthdate }}</p>
          <p class="card-text" *ngIf="this.user.data.birthdate == null"></p>
        </div>
      </div>
    </div>
  </div>
  
</div>
