.profile{
    background: #ebebeb;
}
.card-img{
    width: 80%;
    height: 80%;
}
.photoProfile{
   display: flex;
   justify-content: center;
   align-items: center;
}
.card-text{
    display: flex;
    align-items: center;
}
.card{
    margin: auto;
    margin-top: 20px;
}
.card-text-title{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    border-right: 1px solid lightgray;
    /* border-bottom: 1px solid lightgray; */
}
.card-body p{
    color: rgb(91, 91, 91);
}
.row-line{
    width: 520px;
    margin-left: 5px;
    border-bottom: 1px solid lightgray;
}
.title{
    margin: auto;
    width: 40%;
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.title h5{
    font-weight: 700;
}