<div class="login">
    
    <div class="box-img">
    
        <h1 class="title">Ingresá tu e-mail o usuario de Repuestos Gastón</h1>
        <div class="imgRepuestosGaston">
            <img src="../../../assets/img/img_repuestos_gaston.png" alt="Repuestos Gastón" srcset="">
        </div>
    </div>
    <div class="box-login">
        <form action="" [formGroup]="loginForm">
            <span class="title-input">E-mail o usuario</span>
            <input class="text-input form-control" formControlName="username" type="text" name="" id="">
            <span class="title-input">Contraseña</span>
            <input class="text-input form-control" formControlName="password" type="password" name="" id="">
            <div class="login-register">
                <button class="btn btn-primary btn-login" [disabled]="loginForm.invalid" (click)="login()">
                    Iniciar sesión</button>
                <a (click)="register()">Crear cuenta</a>
            </div>
        </form>
    </div>
</div>
