<nav *ngIf="!isAdmin">
  <div class="container-fluid boxs">
    <div class="boxSearch">
    <a class="navbar-brand" href="/home">
      <img class="logo-login" src="../../../assets/img/logo.png" alt="" srcset=""/>
      <img class="logo-login-mobile" src="../../../assets/img/logo.png" alt="" srcset=""/>
    </a>
    <form action="" [formGroup]="searchForm" class="formSearch">
      <div *ngIf="!isLogin" class="search" >
        <input type="search" class="buscador form-control" (keydown.enter)="search()" formControlName="search" placeholder="Busca productos" name="">
        <button type="button" class="btn lupa" (click)="search()">
          <img src="../../../assets/svg/search.svg" alt="" srcset="">
        </button>
  
      </div>
    </form>
    <div class="iconos-mobile">
      <button class="btn" (click)="selectSearch()">
        <img class="lupa-mobile" src="../../../assets/svg/search-mobile.svg" alt="" srcset="">
      </button>
      <button class="btn" (click)="selectMenu()">
        <img class="menu-mobile" src="../../../assets/svg/menu.svg" alt="" srcset="">
        
      </button>
        <button class="btn btn-cart" (click)="cart()" *ngIf="this.authService.autenticado() && !this.authService.admin()">
          <img src="../../../assets/svg/cart-min.svg" alt="cart" class="user" srcset=""></button>
      
    </div>
    
</div>
    <div *ngIf="!isLogin" class="collapse navbar-collapse boxCategorias" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown nav-menu-item">
          <a
            class="nav-link dropdown-toggle nav-menu-categoria"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <p>Categorias</p>
          </a>
          <ul class="dropdown-menu" *ngFor="let data of this.category.data">
            <li >
              <a class="dropdown-item" (click)="filterProductsByCategory(data.category_id)" href="/products/categories/{{data.category_id}}">{{data.name}}</a></li>
          </ul>
        </li>
        
        
      </ul>
      <ul class="navbar-nav navbar-right" id="navbar-user">
        <li  *ngIf="authService.autenticado() == false">
          <a class="nav-link" href="/register">Creá tu cuenta</a>
        </li>
       <li  *ngIf="authService.autenticado() == false">
         <a class="nav-link" href="/login">Ingresá</a>
       </li>
       <li class="nav-item dropdown"  *ngIf="authService.autenticado()">
        
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        <img src="../../../assets/svg/user.svg" alt="user" class="user" srcset="">

        <p>{{this.user.user}}</p>
        </a>
        <ul class="dropdown-menu">
          <li *ngIf="!this.authService.admin()"><a class="dropdown-item" (click)="profile()" href="/users/profile">Perfil</a></li>
          <li><a class="dropdown-item" (click)="logout($event)" href="/home">Cerrar Sesión</a></li>
        </ul>
      </li>
<li >
  <button class="btn btn-cart" (click)="cart()" *ngIf="this.authService.autenticado() && !this.authService.admin()">
    <img src="../../../assets/svg/cart.svg" alt="cart" class="user" srcset="" ></button>

</li>
       <!-- *ngIf="authService.autenticado()" -->
       <!-- <li class="dropdown" >
         <a
           class="btn btn-outline-primary dropdown-toggle"
           href="#"
           role="button"
           id="dropdownMenuLink"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
         >
           {{ authService.usuario.username }}
         </a>

         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
           <button class="dropdown-item" type="submit" (click)="logout()">
             Cerrar sesión
           </button>
         </div>
       </li> -->
     </ul>
     

    </div>
  </div>
  <div class="form-mobile" *ngIf="isSearch">
    <form action="" [formGroup]="searchForm">
    <div *ngIf="!isLogin" class="search" >
      <input type="search" (keydown.enter)="search()" class="buscador form-control" formControlName="search" placeholder="Busca productos" name="">
      <button type="button" class="btn lupa" (click)="search()">
        <img src="../../../assets/svg/search.svg" alt="" srcset="">
      </button>

    </div>
  </form>
  </div>
  <div class="menu" *ngIf="isMenu">
    <div class="open-menu-mobile" >
      <div class="buttons-menu-mobile" *ngIf="authService.autenticado() == false">
       <button class="btn btn-dark btn-ingreso" (click)="login()">Ingresar</button>
     <button class="btn btn-outline-dark btn-register" (click)="register()">Registrarse</button>
     
   </div>
   <div class="user-menu-mobile" *ngIf="authService.autenticado()">
     <ul class="navbar-nav navbar-right navbar-user-mobile">
      <li class="nav-item dropdown">
       
       <a
         class="nav-link dropdown-toggle"
         href="#"
         role="button"
         data-bs-toggle="dropdown"
         aria-expanded="false"
       >
      
       <img src="../../../assets/svg/user-mobile.svg" alt="user" class="user" srcset="">
   <h3>{{user.data.Username}}</h3>
       </a>
       <ul class="dropdown-menu">
         <li><a class="dropdown-item" href="/users/profile">Perfil</a></li>
         <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
       </ul>
     </li>
     </ul>
 
 </div> 
 <div class="category-mobile">
  <hr>
  <h5 class="text-muted">Categorias</h5>
  <hr>
  <p *ngFor="let data of this.category.data">
    <a href="/products/categories/{{data.category_id}}">{{data.name}}</a>
  </p>
  
 </div>
   </div>
  </div>
</nav>
