nav{
    background: linear-gradient(#f78166, #efc068);
}
.logo-login{
    width: 15vw;
    height: 10vh;
}
.navbar-brand{
    width: 20vw;
}
.boxs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.boxSearch{
    display: flex;
    width: 70vw;
    height: 8vh;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
}

.buscador{
    width: 40vw;
    height: 7vh;
    border: none;
}
.buscador:focus{
    padding-left: 10px;

}

.buscador::placeholder{
    padding-left: 10px;
    color: rgb(128, 125, 125);
}
.search{
    display: flex;
    background: white;
}
.lupa{
    border-left: 1px solid lightgrey;
    border-radius: 0;
}
.boxCategorias{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    width: 95vw;
    justify-content: space-between;
}
.nav-link{
    color: rgba(0, 0, 0, 0.799);
}
.dropdown-menu {
    color: black;
    font-size: 15px;
  }