html, body {
    height: 100vh;
    margin: 10%;
  }
  
  .app-container {
    position: relative; /* Asegura que el .content-container ocupe el espacio correcto */
    min-height: 100vh;
  }
    
  .app-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px; /* Establece la altura del footer */
  }
  