.register{
    background: #ebebeb;
    height: 82vh;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}
.card{
    /* display: flex;
    flex-direction: column; */
    margin: 5vh 0vw;
    position: relative;
    width: 28rem;
    /* overflow: auto; */
    height:115vh;
    max-height: 200vh;
    padding: 3vh 4vw;
}

form{
     display: flex;
    flex-direction: column;
    max-height: 130%;
}
.title-input{
    font-size: 15px;
    padding: 15px 0 3px 3px;
}
form input{
    height: 30px;
    border: 0.05px solid #b1adad;
    border-radius: 5px;
}
h4, h6{
    text-align: center;
}
h4{
    font-weight: 700;
    padding-bottom: 5px;
}
.btn-register{
    margin: 5vh 0vw 2vh;
}