<div class="contenedor">
  <div class="productos">
    <div class="card card-productos">
      <div class="card-body">
        <div class="agregarProducto">
          <h3 class="card-title"><b>Tabla de ventas</b></h3>
          <form action="" [formGroup]="searchForm">
            <div class="search">
              <input type="search" class="buscador form-control" (keydown.enter)="search()" formControlName="search" placeholder="Busca n° venta"
                name="">
              <button type="button" class="btn lupa" (click)="search()">
                <img src="../../../assets/svg/search.svg" alt="" srcset="">
              </button>
            </div>
          </form>
          <button type="button" class="btn btn-dark" (click)="agregar()"
          placement="start" ngbTooltip="Agregar producto">
            <img src="../../../assets/svg/plusWhite.svg" alt="" srcset="">
          </button>
        </div>
        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">N° de venta</th>
                <th scope="col">DNI cliente</th>
                <th scope="col">Estado de la venta</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sale of this.salesAdmin.data; let index = index">
                <td scope="row" class="colMenu">
                  <div ngbDropdown class="d-inline-block dropdownMenu" >
                    <button class="btn" id="dropdown1" ngbDropdownToggle>
                      <img class="imgSection" src="../../../../assets/svg/menuAdmin.svg" alt="" srcset="" />
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdown1">
                        <button ngbDropdownItem class="btn" (click)="viewSale(sale.id)">Ver más</button>
                        <hr>
                        <button ngbDropdownItem class="btn" (click)="editSale(sale.id)">Editar</button>
                        
                      </div>
                  </div>
                </td>
                <td>{{sale.number_sale}}</td>
                <td>${{sale.dni}}</td>
                <td *ngIf="sale.sale_status == 'PENDING_PAYMENT'">
                  <div>Pendiente de pago</div>
                </td>
                <td *ngIf="sale.sale_status == 'PAID'">
                  <div>Pagado</div>
                </td>
                <td *ngIf="sale.sale_status == 'DELIVERED'">
                  <div>Entregado</div>
                </td>
                <td *ngIf="sale.sale_status == 'REJECTED'">
                  <div>Rechazado</div>
                </td>
              </tr>
              <ng-container *ngIf="this.salesAdmin?.data?.length == 0">
                <tr>
                  <td colspan="5" class="not-found">
                    No hay productos para mostrar
                  </td>
                </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="pagination">
    <!-- <ngb-pagination 
      (pageChange)="pageChange($event)" 
      [collectionSize]="this.productAdmin?.totalElements" [page]="this.productAdmin.pageable.pageNumber + 1" [pageSize]="this.productAdmin?.pageable?.pageSize" aria-label="Default pagination"></ngb-pagination>--> 
    </div>
  </div>
</div>