<div class="productos">
    <div class="card">
        <div class="card-body">
            <div class="agregarProducto">
                <h3 class="card-title">Tabla de ventas</h3>
                <form action="" [formGroup]="searchForm">
                  <div class="search" >
                    <input type="search" class="buscador form-control" formControlName="search" placeholder="Busca N° de compra" name="">
                    <button type="button" class="btn lupa" (click)="search()">
                      <img src="../../../assets/svg/search.svg" alt="" srcset="">
                    </button>
              
                  </div>
                </form>
            </div>
            <div class="table-container">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">N° de compra</th>
                        <th scope="col">Cantidad de productos</th>
                        <th scope="col">Estado de la compra</th>
                        <th colspan="2" class="acciones">Acciones</th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr *ngFor="let sale of sales; let index = index">
                        
                        <td>{{sale.id}}</td>
                        <td>{{sale.carrito?.products?.length}}</td>
                        <td *ngIf="sale.state == 0">
                            <div class="sinConfirmar">Sin confirmar</div>
                        </td>
                        <td *ngIf="sale.state == 1">
                            <div class="porEntregar">Por entregar</div>
                        </td>
                        <td *ngIf="sale.state == 2">
                            <div class="entregado">Entregado</div>
                        </td>
                                                
                        <td><button type="button" class="btn">
                                <img src="../../../../assets/svg/edit.svg" (click)="editarEstadoVenta(sale.id!)" alt="" srcset="">
                            </button>
                            <button type="button" class="btn" (click)="verDetalle(sale.id!)">
                                <img src="../../../../assets/svg/see-more.svg" alt="" srcset="">
                            </button>
                    </td>
                      </tr>
                    </tbody>
                  </table>  
                </div>  
            </div>
        </div>
        <ngb-pagination [collectionSize]="sales.length" [(page)]="page" [pageSize]="10" aria-label="Default pagination"></ngb-pagination>
</div>
