.usuarios{
    margin: 5%;
}
h3{
    padding-bottom: 15px;
}
.agregarUsuario{
   display: flex;
   justify-content: space-between;
}
.agregarUsuario button{
    height: 20%;
}
.table-container {
    max-height: 400px; 
    overflow-y: auto; 
}
.acciones{
    text-align: center;
}
.imagen{
    width: 100%;
}
.imagenTabla{
    width: 8vw;
}
.descripcionTabla{
    width: 15vw;
}