<div class="product">
  <div class="card">
    <div class="columns">
      
      <div class="imgDescription">
        <div class="imgCardActions">
          <div class="divImg">
       <!--  <img
           src="./assets/img/productos/motul.png"
           class="card-img"
           alt="Motul"
         />-->
         <img class="imagen" [src]="mostrarImg(this.product?.image)" alt="Imagen del producto" *ngIf="this.product?.image" />

       </div>
       <div class="cardActions">
         <div class="card-body">
           <h4 class="card-title"><b>{{this.product?.name}}</b></h4>
           <h3 class="card-title">${{this.product?.price}}</h3>
         </div>
         <div class="divActions">
           <h6 *ngIf="this.product?.stock > 0" class="card-title isStock"><b>Stock disponible</b></h6>
           <h6 *ngIf="this.product?.stock == 0" class="card-title-stock isNotStock"><b>Lo siento, por el momento no tenemos stock disponible de este producto.</b></h6>
           <div *ngIf="this.product?.stock > 0" class="cantidadForm">
             <form action="" [formGroup]="cantidadForm" class="cantidadTablet">
               <div class="inputCantidad">
                 <p>Cantidad</p>
                 <input
                 type="number"
                 class="cantidad"
                 formControlName="cantidad"
                 [value]="cantidadForm.get('cantidad')!.value"
               />
               <p>unidades</p>
               </div>
               
               <p class="card-text">
                 <small class="text-muted unidadesStock">({{ this.product?.stock }} disponibles)</small>
               </p>
               
             </form>
             
           </div>
           <div class="texts" *ngIf="cantidadForm.controls['cantidad'].errors && cantidadForm.get('cantidad')?.touched">
             <div class="validatorText" *ngIf="cantidadForm.get('cantidad')?.hasError('required')">
                 <span>Este campo es requerido.</span>
             </div>
             <div class="validatorText" *ngIf="cantidadForm.get('cantidad')?.hasError('minValueExceeded')">
                 <span>La cantidad mínima permitida es 1 unidad.</span>
             </div>
             <div class="validatorText" *ngIf="cantidadForm.get('cantidad')?.hasError('maxValueExceeded')">
               <span>No hay stock suficiente.</span>
           </div>
         </div>
         <div class="divButtons" *ngIf="!this.authService.autenticado()">
          <div placement="start" ngbTooltip="Para realizar una compra primero debes iniciar sesión">
          <button disabled class="btn btn-primary btn-comprar" >
            <p>Comprar ahora</p>
            <img src="./assets/svg/shop.svg" class="img-button" alt="Canasto" />
          </button>
        </div>
        <div placement="start" ngbTooltip="Para agregar un producto al carrito primero debes iniciar sesión">
          <button disabled class="btn btn-carrito" >
            <p>Agregar al carrito</p>
            <img
              src="./assets/svg/cartPlus.svg"
              class="img-button"
              alt="Carrito"
            />
            
          </button>
        </div>
         </div>
           <div class="divButtons" *ngIf="this.product?.stock > 0 && this.authService.autenticado() && !this.authService.admin()">
             <button class="btn btn-primary btn-comprar" (click)="comprarAhora()" [disabled]="cantidadForm.invalid">
               <p>Comprar ahora</p>
               <img src="./assets/svg/shop.svg" class="img-button" alt="Canasto" />
             </button>
             <button class="btn btn-carrito" (click)="agregarCarrito(this.product)" [disabled]="cantidadForm.invalid">
               <p>Agregar al carrito</p>
               <img
                 src="./assets/svg/cartPlus.svg"
                 class="img-button"
                 alt="Carrito"
               />
               
             </button>
           </div>
         </div>
       </div>
        </div>
      <div class="divDescription">
        <div class="card-body">
          <p>Lo que debes saber de este producto</p>
          <li>{{this.product?.description}}</li>
        </div>
      </div>
      </div>
     
      
    </div>
  </div>
</div>
