/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Wix Madefor Text', sans-serif;
}
.alert{
    padding: 0.5rem;
    margin-bottom: 0;
}
.validatorText{
    color: #de0b1c;
    font-size: 13px;
    display: block;
}