/* You can add global styles to this file, and also import other style files */

body, html{
    font-family: 'Proxima Nova,-apple-system','Roboto',Arial,sans-serif;
    background: #ebebeb;
    color: rgba(0, 0, 0, 0.799);
    max-width: auto;
    max-height: auto;
     box-sizing: border-box;
   overflow: auto;
}
.alert{
    padding: 0.5rem;
    margin-bottom: 0;
}
.validatorText{
    color: #de0b1c;
    font-size: 13px;
    display: block;
}