.footer{
    /* background: #e6e6e6; */
    background: linear-gradient( #ffa701, #ff5c36);
    padding: 1vh 5vw;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    border-top: 0.5px solid #b1adad;
}
.footer span{
    color: #464646;
    font-size: 12px;
}