.footer {
    /* position: absolute ;
    bottom: 0;
    width: 100%; */
    background: linear-gradient(#ff5b36c4, #ffa601);
    padding: 1vh 5vw;
    border-top: 0.5px solid #b1adad;
  }
.footer span{
    color: #464646;
    font-size: 12px;
}