<div *ngIf="!nameSearch">
  <div class="title">
      <h3>{{nameCategory}}</h3>
  <span>{{products?.data?.length}} resultados</span>
  </div>
  <div class="productos">
    <div class="card" *ngFor="let data of products.data">
      <div class="card-products" (click)="productById(data.id)">
        <div class="col-md-6 divImg">
          <img src={{data.img}} class="card-img" alt="Imagen de producto">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h2 class="card-title">{{data.name}}</h2>
            <p class="card-text">{{data.descriptions}}</p>
            <p class="card-text-price"><b>${{data.price}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="nameSearch">
  <div class="title">
    <h3>{{nameSearch | titlecase}}</h3>
  <span>{{search?.data?.length}} resultados</span>
  </div>
  <div class="productos">
    <div class="card" *ngFor="let data of search?.data">
      <div class="card-products" (click)="productById(data.id)">
        <div class="col-md-6 divImg">
          <img src={{data.img}} class="card-img" alt="Imagen de producto">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h2 class="card-title">{{data.name}}</h2>
            <p class="card-text">{{data.descriptions}}</p>
            <p class="card-text-price">${{data.price}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>