/* .productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.title{
    padding-top: 50px;
    margin: auto;
    width: 80vw;
}
.title h3{
    font-weight: 700;
    line-height: 1.3;
}
.card-title{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
}
.card-text-price{
    font-size: 25px;
    font-weight: 700;
}
.card{
    width: 60vw;
    height: 25vh;
    cursor: pointer;
    border: 0.2px solid lightgrey;

}
.card-img{
    width: 13vw;
    height: 20vh;
    margin: 10%;
}
.divImg{
    width: 15vw;
    height: 25vh;
    display: flex;
    justify-content: center;
} */
/*Web*/
@media (min-width: 1100px){
    .title{
        padding-top: 50px;
        margin: auto;
        width: 80vw;
    }
    .title h3{
        font-weight: 700;
        line-height: 1.3;
        font-size: 30px;
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        padding: 2%;
        margin-top: 2%;
        cursor: pointer;
    }
    .card-products{
        display: flex;
    }
    .divImg{
        width: 20%;
        margin-right: 5%;
    }
    .divImg img{
        width: 100%;
    }
    .card-body{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-body h2{
        font-weight: 600;
        font-size: 25px;
    }
    .card-text{
        margin-bottom: 10%;
    }
    .card-text-price{
        font-size: 25px;
    }
    .productos{
        margin-bottom: 2%;
    }
}
/*Tablet*/
@media (min-width: 750px) and (max-width: 1100px){
    .title{
        padding-top: 50px;
        margin: auto;
        width: 80vw;
    }
    .title h3{
        font-weight: 700;
        line-height: 1.3;
        font-size: 30px;
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        padding: 2%;
        margin-top: 2%;
    }
    .card-products{
        display: flex;
    }
    .divImg{
        width: 40%;
        margin-right: 5%;
    }
    .divImg img{
        width: 100%;
    }
    .card-body{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-body h2{
        font-weight: 600;
        font-size: 30px;
    }
    .card-text{
        margin-bottom: 10%;
    }
    .card-text-price{
        font-size: 30px;
    }
    .productos{
        margin-bottom: 2%;
    }
}
/*Mobile*/
@media (max-width: 750px) {
    .title{
        padding-top: 50px;
        margin: auto;
        width: 80vw;
    }
    .title h3{
        font-weight: 700;
        line-height: 1.3;
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding: 2%;
        margin-top: 2%;
    }
    .card-products{
        display: flex;
    }
    .divImg{
        width: 40%;
    }
    .divImg img{
        width: 100%;
    }
    .card-body{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-body h2{
        font-weight: 600;
    }
    .card-text-price{
        font-size: 18px;
    }
    .productos{
        margin-bottom: 2%;
    }
}