<div *ngIf="!nameSearch">
  <div class="title">
      <h3>{{nameCategory}}</h3>
  <span>{{products?.data?.length}} resultados</span>
  </div>
  <div class="productos">
    <div class="card" *ngFor="let data of products.data">
      <div class="card-products" (click)="productById(data.id)">
        <div class="col-md-6 divImg">
          <img src={{data.img}} class="card-img" alt="Imagen de producto">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h2 class="card-title">{{data.name}}</h2>
            <p class="card-text">{{data.descriptions}}</p>
            <p class="card-text-price"><b>${{data.price}}</b></p>
          </div>
        </div>
      </div>
    </div>
    <ngb-pagination (pageChange)="pageChange($event)" [collectionSize]="this.category?.totalElements" [page]="this.category.pageable.pageNumber + 1" [pageSize]="this.category?.pageable?.pageSize" aria-label="Default pagination"></ngb-pagination>
  </div>
</div>

<div *ngIf="nameSearch">
  <div class="title">
    <h3>{{nameSearch | titlecase}}</h3>
  <span>{{search?.data?.length}} resultados</span>
  </div>
  <div class="productos">
    <div class="card" *ngFor="let data of this.search.data">
      <div class="card-products" (click)="productById(data.product_id)">
        <div class="col-md-6 divImg">
       <!--   <img src={{data.img}} class="card-img" alt="Imagen de producto">-->
       <img class="imagen" [src]="mostrarImg(data.image)" alt="Imagen del producto" *ngIf="data.image" />

        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h2 class="card-title">{{data.name}}</h2>
            <p class="card-text">{{data.descriptions}}</p>
            <p class="card-text-price">${{data.price}}</p>
          </div>
        </div>
      </div>
    </div>
    <ngb-pagination (pageChange)="pageChange($event)" [collectionSize]="this.search?.totalElements" [page]="this.search.pageable.pageNumber + 1" [pageSize]="this.search?.pageable?.pageSize" aria-label="Default pagination"></ngb-pagination>

  </div>
</div>